@media only screen and (max-width:1000px){
    .customer-contain{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        gap: 1.2rem;
        width: 100%;
        background-color: rgb(230, 230, 208);
    }
    .cust-head{
        display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.4rem;
    justify-content: center;
    width: 380px;
    margin: 0 2rem;
    }
    .cust-head h3{
        text-align: center;
    }
    .cust-head p{
        text-align: center;
        padding: 0 2rem;
    }
    .cust-btn button{
        padding: 1rem 1 rem;
        margin-bottom: 2rem;
    }
    .frame{
        display: none;
        visibility: hidden;
    }
    .female{
        margin-top: 2rem;
        position: static;
        width: auto;
        height: 75px;
        left: 100px;
    }
}